  /* Custom styles to position the "ON" label */
.form-check-label {
    margin-left: 5px; /* Adjust as needed */
  }
  
  /* Custom styles to hide the default checkbox */
  /* .form-check-input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
  } */
  